<body class="vh-100">
  <div
    class="position-absolute top-50 start-50 translate-middle container"
    *ngIf="proy"
  >
    <div class="row">
      <div>
        <h1 class="text-center">Editar Proyecto</h1>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="p-2 form-group">
            <label for="nombre" class="fs-3">Nombre del Proyecto</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              [(ngModel)]="proy.nombre"
              required
            />
          </div>

          <div class="p-2 pt-0 form-group">
            <label for="descripcion" class="fs-3">Descripción</label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              name="descripcion"
              [(ngModel)]="proy.descripcion"
              required
            />
          </div>

          <div class="p-2 pt-0 form-group">
            <label for="img" class="fs-3">Imagen</label>
            <input
              type="file"
              class="form-control"
              id="img"
              name="img"
              [(ngModel)]="proy.imagen"
              (change)="catchFile($event)"
              accept=".jpg , .png , .jpeg"
            />
          </div>

          <div class="p-2 pt-0 form-group">
            <label for="url" class="fs-3">URL</label>
            <input
              type="text"
              class="form-control"
              id="url"
              name="url"
              [(ngModel)]="proy.url"
              required
            />
          </div>

          <div class="text-center">
            <button class="btn btn-primary">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
