<div class="p-5 pb-2 row">
  <h1 class="p-2 text-center"><strong>Proyectos</strong></h1>
  <div class="text-center p-2">
    <button
      type="button"
      class="btn btn-secondary p-1"
      routerLink="/newproyecto"
      *ngIf="isLogged"
    >
      Nuevo Proyecto
    </button>
  </div>

  <div class="p-2 table-responsive">
    <table class="table table-borderless">
      <tbody>
        <!-- Recorrido de todas las educaciones existentes -->
        <!-- Tambien estan los métodos para el drag and drop -->
        <tr
          *ngFor="let Proyecto of proyecto; let i = index"
          draggable="true"
          (dragstart)="onDragStart($event, i)"
          (drop)="onDrop($event, i)"
          (dragover)="onDragOver($event)"
          class="col-sm-12 col-md-12 col-lg-12"
        >
          <!-- Icono para el drag and drop -->
          <td class="p-5" *ngIf="isLogged">
            <i
              class="bi bi-grip-vertical"
              style="font-size: 25px; color: antiquewhite"
            ></i>
          </td>

          <!-- IMAGEN-->
          <td class="p-2 align-middle">
            <img src="{{ Proyecto.imagen }}" id="foto_perfil" class="crop" />
          </td>

          <!-- NOMBRE -->
          <td class="p-2 align-middle">
            <h2
              class="text-light"
              style="font-family: 'Sofia Sans', sans-serif"
            >
              {{ Proyecto.nombre }}
            </h2>
          </td>

          <!-- DESCRIPCION -->
          <td
            class="text-light p-2 pt-4 text-center align-middle"
            style="font-family: sans-serif"
          >
            {{ Proyecto.descripcion }}
          </td>

          <!-- URL -->
          <td class="text-light p-5 align-middle">
            <a href="{{ Proyecto.url }}" target="_blank" class="link-primary"
              ><i class="bi bi-box-arrow-up-right" style="font-size: 20px"></i
            ></a>
          </td>

          <!-- Boton para editar Proyecto -->
          <td *ngIf="isLogged" class="text-center align-middle">
            <button
              class="btn btn-light"
              routerLink="/editproyecto/{{ Proyecto.id }}"
            >
              <i class="p-3 bi bi-pencil-fill"></i>
            </button>
          </td>

          <!-- Delete Proyecto -->
          <td *ngIf="isLogged" class="text-center align-middle">
            <button class="btn btn-danger" (click)="delete(Proyecto.id)">
              <i class="bi bi-trash-fill p-3"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
