<div class="p-5 row">
  <h1 class="p-2 text-center"><strong>Proyectos</strong></h1>

  <div class="col-lg-6">
    <h2>Gestión de Biblioteca</h2>
    <p>
      De forma grupal, desarrollamos una aplicación de gestión de biblioteca
      como parte de una actividad propuesta por la cátedra de "Programación
      Orientada a Objetos" de la carrera de "Licenciatura en Sistemas".
    </p>

    <a href="https://github.com/MarquitosLev/POOTaller" target="_blank"
      ><i class="bi bi-github"></i
    ></a>
  </div>
  <div class="col-lg-2"></div>
  <div class="col-lg-4">
    <img src="../../../assets/proyecto1.jpg" class="img-fluid img-proy" />
  </div>
  
</div>
