*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    padding: 20px;
    background-color: black;
    color: white;
}

@media (max-width: 750px) {
    .img-proy{
        margin-left: 0 ;
    }
}