<div class="p-5 pt-0 row">
  <h1 class="p-3 text-center"><strong>Educación</strong></h1>

  <div class="text-center p-2">
    <button
      type="button"
      class="btn btn-secondary p-1"
      routerLink="/newedu"
      *ngIf="isLogged"
    >
      Nueva Educación
    </button>
  </div>

  <div class="p-2 col-lg-12 col-sm-12 table-responsive">
    <table class="table table-borderless">
      <tbody>
        <!-- Recorrido de todas las educaciones existentes -->
        <tr
          *ngFor="let Educacion of educ; let i = index"
          draggable="true"
          (dragstart)="onDragStart($event, i)"
          (drop)="onDrop($event, i)"
          (dragover)="onDragOver($event)"
        >
          <!-- Icono para el drag and drop -->
          <td
            class="pt-5 pe-0"
            *ngIf="isLogged"
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              vertical-align: middle;
            "
          >
            <i
              class="bi bi-grip-vertical"
              style="font-size: 25px; color: antiquewhite"
            ></i>
          </td>

          <td>
            <h2 class="text-light p-2">{{ Educacion.nombreE }}</h2>
          </td>

          <td class="text-light p-2 pt-3 col-lg-6">
            {{ Educacion.descripcionE }}
          </td>

          <td *ngIf="isLogged" class="text-center pt-4 col-lg-1">
            <!-- Boton para editar Educacion -->
            <button
              class="btn btn-light"
              routerLink="/editedu/{{ Educacion.id }}"
            >
              <i class="p-3 bi bi-pencil-fill"></i>
            </button>
          </td>

          <td *ngIf="isLogged" class="text-center pt-4 col-lg-1">
            <button class="btn btn-danger" (click)="delete(Educacion.id)">
              <i class="bi bi-trash-fill p-3"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
