*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    padding: 20px;
    font-family: 'Chakra Petch', sans-serif;
}
.row{
    padding-bottom: 15px;
}