<div class="p-5 pt-0 row">
  <h1 class="p-3 text-center"><strong>Educación</strong></h1>

  <div class="text-center p-2">
    <button
      type="button"
      class="btn btn-secondary p-1"
      routerLink="/newedu"
      *ngIf="isLogged"
    >
      Nueva Educación
    </button>
  </div>

  <div class="p-2 table-responsive">
    <table class="table table-borderless">
      <tbody>
        <!-- Recorrido de todas las educaciones existentes -->
        <tr
          *ngFor="let Educacion of educ; let i = index"
          draggable="true"
          (dragstart)="onDragStart($event, i)"
          (drop)="onDrop($event, i)"
          (dragover)="onDragOver($event)"
          class="col-sm-12 col-md-12 col-lg-12"
        >
          <!-- Icono para el drag and drop -->
          <td class="align-middle pe-0" *ngIf="isLogged">
            <i
              class="bi bi-grip-vertical"
              style="font-size: 25px; color: antiquewhite"
            ></i>
          </td>

          <td>
            <h2
              class="text-light p-2 text-start"
              style="font-family: 'Sofia Sans', sans-serif"
            >
              {{ Educacion.nombreE }}
            </h2>
          </td>

          <td
            class="text-light p-2 text-start align-middle"
            style="font-family: sans-serif"
          >
            {{ Educacion.descripcionE }}
          </td>

          <td *ngIf="isLogged" class="text-center align-middle">
            <!-- Boton para editar Educacion -->
            <button
              class="btn btn-light"
              routerLink="/editedu/{{ Educacion.id }}"
            >
              <i class="p-3 bi bi-pencil-fill"></i>
            </button>
          </td>

          <td *ngIf="isLogged" class="text-center align-middle">
            <button class="btn btn-danger" (click)="delete(Educacion.id)">
              <i class="bi bi-trash-fill p-3"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
