<div class="p-5 row">
  <!-- El titulo solo se mostrará si hay alguna experiencia escrita o si esta logueado -->
  <h1 class="p-3 text-center"><strong>Experiencia Laboral</strong></h1>

  <div class="text-center p-2">
    <button
      type="button"
      class="btn btn-secondary p-1"
      routerLink="/nuevaexp"
      *ngIf="isLogged"
    >
      Nueva Experiencia
    </button>
  </div>

  <div class="p-2 col-lg-12 col-sm-12 table-responsive">
    <table class="table table-borderless">
      <tbody>
        <tr
          *ngFor="let Experiencia of expe; let i = index"
          draggable="true"
          (dragstart)="onDragStart($event, i)"
          (drop)="onDrop($event, i)"
          (dragover)="onDragOver($event)"
          class="col-sm-12 col-md-12 col-lg-12"
        >
          <!-- Icono para el drag and drop -->
          <td class="align-middle pe-0" *ngIf="isLogged">
            <i
              class="bi bi-grip-vertical"
              style="font-size: 25px; color: antiquewhite"
            ></i>
          </td>

          <td>
            <h2
              class="text-light p-2 text-start"
              style="font-family: 'Sofia Sans', sans-serif"
            >
              {{ Experiencia.nombreE }}
            </h2>
          </td>

          <td
            class="text-light p-2 text-start align-middle"
            style="font-family: sans-serif"
          >
            {{ Experiencia.descripcionE }}
          </td>

          <td *ngIf="isLogged" class="text-center align-middle">
            <!-- Boton para editar experiencia -->
            <button
              class="btn btn-light"
              routerLink="/editexp/{{ Experiencia.id }}"
            >
              <i class="p-3 bi bi-pencil-fill"></i>
            </button>
          </td>

          <td *ngIf="isLogged" class="text-center align-middle">
            <button class="btn btn-danger" (click)="delete(Experiencia.id)">
              <i class="bi bi-trash-fill p-3"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
