<body class="vh-100">
    <div class="position-absolute top-50 start-50 translate-middle container" *ngIf="hys">
      <div class="row">
        <div>
          <h1 class="text-center">Skill</h1>
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="p-5 form-group">
              <label for="nombre" class="fs-3">Nombre de la Skill</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                [(ngModel)]="hys.nombre"
                required
              />
            </div>
            <div class="p-5 pt-0 form-group">
              <label for="porcent" class="fs-3">Porcentaje</label>
              <input
                type="text"
                class="form-control"
                id="porcent"
                name="porcent"
                [(ngModel)]="hys.porcent"
                required
              />
            </div>
            <button
              class="position-absolute start-50 translate-middle btn btn-primary"
            >
              Actualizar
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
  

