<div class="row bg-black text-light">
  <h1 class="text-center p-2"><strong>Hard and Soft Skills</strong></h1>

  <div class="text-center p-2">
    <button
      type="button"
      class="btn btn-secondary p-1"
      routerLink="/newhys"
      *ngIf="isLogged"
    >
      Nueva Skill
    </button>
  </div>

  <div
    class="text-center col-sm-12 col-md-4 col-lg-4 carta"
    *ngFor="let skills of hys; let i = index"
    draggable="true"
    (dragstart)="onDragStart($event, i)"
    (drop)="onDrop($event, i)"
    (dragover)="onDragOver($event)"
  >
    <!-- Icono para el drag and drop -->
    <td
      class="pt-5 pe-0"
      *ngIf="isLogged"
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
      "
    >
      <i
        class="bi bi-grip-horizontal"
        style="font-size: 25px; color: antiquewhite"
      ></i>
    </td>

    <circle-progress
      [showUnits]="false"
      [showSubtitle]="false"
      [imageSrc]="''"
      [titleColor]="'white'"
      [title]="skills.nombre"
      [percent]="skills.porcent"
      [radius]="85"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>

    <div>
      <td *ngIf="isLogged" class="p-1">
        <!-- Boton para editar Skill -->
        <button class="btn btn-light" routerLink="/edithys/{{ skills.id }}">
          <i class="p-3 bi bi-pencil-fill"></i>
        </button>
      </td>

      <td *ngIf="isLogged" class="p-1">
        <!-- Boton eliminacion de Skill -->
        <button class="btn btn-danger" (click)="delete(skills.id)">
          <i class="bi bi-trash-fill p-3"></i>
        </button>
      </td>
    </div>
  </div>
</div>
