*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    text-align: center;
    background-color: black;
    color: white;
    padding: 25px;
}

h1{
    font-family: 'Sofia Sans', sans-serif;
}

@media (min-width: 576px) {
    #foto_perfil{  
        position: absolute;      
        width: 170px;
        left: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(104, 104, 104);       
    }
    #acerca{
        padding-bottom: 35px;
    }
}

@media (max-width: 575px) {
    #foto_perfil{        
        position: absolute;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(63 63 63);
        width: 25%;
        left: 38%;
        margin-top: 30px;
    }
    #acerca{
        margin-top: 140px;
    }
}
